* {
    font-size: 30px;
}

:root {
    --dark-color: #035363;
}

.container {
    margin-left: 400px;
    margin-right: 200px;
}

.container_To_Proprties {
    margin-left: 400px;
    margin-right: 350px;
}

.content1 {
    display: flex;
    justify-content: end;
}

.content {
    display: flex;
    justify-content: start;
}


/* to properties */

.poss_left {
    position: relative;
    bottom: 0px;
}

.poss_left1 {
    position: absolute;
    z-index: 100;
    left: 47px;
    top: 46px;
    bottom: 0px;
    text-decoration-line: none;
}


/* to about us  */

.poss_left123 {
    position: relative;
    bottom: 0px;
    left: -1250px;
    top: 10px;
    bottom: 0px;
}

.poss_left12 {
    position: absolute;
    z-index: 100;
    left: 70px;
    top: 44px;
    bottom: 0px;
    text-decoration-line: none;
}


/* to home */

.poss_right {
    position: relative;
    left: 1200px;
    top: -335px;
    justify-content: end;
    bottom: 0px;
}

.poss_right13 {
    position: absolute;
    z-index: 100;
    left: 49px;
    top: 37px;
    justify-content: end;
    bottom: 0px;
    text-decoration-line: none;
}

.poss_right1 {
    position: absolute;
    z-index: 100;
    left: 64px;
    top: 37px;
    justify-content: end;
    bottom: 0px;
    text-decoration-line: none;
}


/* to about us */

.poss_right123 {
    position: relative;
    left: -40px;
    top: -336px;
    justify-content: end;
    bottom: 0px;
}

.poss_right12 {
    position: absolute;
    z-index: 100;
    left: 499px;
    top: 45px;
    justify-content: end;
    bottom: 0px;
    text-decoration-line: none;
}

.btn {
    background-color: var(--dark-color);
    color: white;
    margin-right: 40px;
    margin-top: 50px;
    border-radius: 5px
}

.align_to_proper {
    padding-left: 40px;
    border: var(--dark-color) 2px solid;
    margin: 20px 500px 40px 490px;
    border-radius: 10px;
    background-color: #dcf1f4;
}

    .align_to_proper input {
        border: none;
        border-bottom: 2px dotted #000;
        background-color: #dcf1f4;
    }

.p1 {
    top: 5px;
    left: 159px;
    margin-bottom: 60px;
    color: #023741;
}

.style1-1 {
    overflow: hidden;
}

.style1-2 {
    width: 240px;
    height: 350px;
    display: flex;
}

.style1-3 {
    color: aliceblue;
}

.style1-4 {
    width: 700px;
    height: 350px;
}

.style1-5 {
    color: aliceblue;
}

.style1-6 {
    position: absolute;
    top: 50px;
}

.style1-7 {
    position: relative;
}

.style1-8 {
    font-size: 38px;
}

.style1-9 {
    margin-top: 50px;
    font-size: 38px;
}

.style1-10 {
    display: inline-block;
}

.style1-11 {
    display: inline-block;
    margin-left: 300px;
}

.style2-1 {
    overflow: hidden;
}

.style2-2 {
    width: 240px;
    height: 350px;
    display: flex;
}

.style2-3 {
    color: aliceblue;
}

.style2-4 {
    width: 700px;
    height: 350px;
}

.style2-5 {
    color: aliceblue;
}

.style2-6 {
    position: absolute;
    top: 50px;
}

.style2-7 {
    display: flex;
    align-items: center;
}

.style2-8 {
    margin-right: 125px;
}

.style2-9 {
    display: flex;
    align-items: center;
}

.style2-10 {
    margin-right: 125px;
    margin-bottom: 37px;
}

.style2-11 {
    margin-right: 99px;
    margin-bottom: 20px;
}

.style2-12 {
    position: relative;
    right: 60px;
    border: none;
}

.style2-12ro {
    position: relative;
    right: 20px;
}

.style3-1 {
    z-index: 100;
    position: absolute;
    top: 45px;
    left: 50px;
}

.style3-2 {
    overflow: hidden;
}

.style3-3 {
    width: 240px;
    height: 350px;
    display: flex;
}

.style3-4 {
    width: 700px;
    height: 350px;
}

.style3-5 {
    top: 20px;
    position: absolute;
}

.style3-6 {
    font-size: 38px;
    position: relative;
}

.style3-7 {
    top: 9px;
    position: relative;
}

.style3-8 {
    text-decoration-line: none;
}

.style3-9 {
    top: -230px;
    position: relative;
}

.style3-10 {
    font-size: 49px;
    font-weight: bold;
    z-index: 100;
    color: aliceblue;
    position: relative;
    top: -200px;
    right: -600px;
}

.style3-11 {
    font-size: 30px;
    color: #ffffff;
    position: relative;
    top: 10px;
    right: 260px;
}

.style3-12 {
    margin-bottom: 0px;
    margin-top: -700px;
}

.style1-8-1 {
    display: flex;
    justify-content: center;
}

.style1-11-1 {
    margin-bottom: 150px;
}

.captcha-refresh {
    cursor: pointer;
    background-color: var(--dark-color);
    color: white;
    margin-right: 40px;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
}

.submit-button {
    background-color: #04AA6D;
    border: solid;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
